doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Account | Parakeet Cloud 
        include incl/scripts.pug
        style.
            body {
              min-height: 100vh;
              display: grid;
              place-items: center;
            }
            svg.tea {
              --secondary: #33406f;
            }
            svg.tea #steamL {
              stroke-dasharray: 13;
              stroke-dashoffset: 13;
              animation: steamLarge 2s infinite;
            }
            svg.tea #steamR {
              stroke-dasharray: 9;
              stroke-dashoffset: 9;
              animation: steamSmall 2s infinite;
            }
            @-moz-keyframes steamLarge {
              0% {
                stroke-dashoffset: 13;
                opacity: 0.6;
              }
              100% {
                stroke-dashoffset: 39;
                opacity: 0;
              }
            }
            @-webkit-keyframes steamLarge {
              0% {
                stroke-dashoffset: 13;
                opacity: 0.6;
              }
              100% {
                stroke-dashoffset: 39;
                opacity: 0;
              }
            }
            @-o-keyframes steamLarge {
              0% {
                stroke-dashoffset: 13;
                opacity: 0.6;
              }
              100% {
                stroke-dashoffset: 39;
                opacity: 0;
              }
            }
            @keyframes steamLarge {
              0% {
                stroke-dashoffset: 13;
                opacity: 0.6;
              }
              100% {
                stroke-dashoffset: 39;
                opacity: 0;
              }
            }
            @-moz-keyframes steamSmall {
              10% {
                stroke-dashoffset: 9;
                opacity: 0.6;
              }
              80% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
              100% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
            }
            @-webkit-keyframes steamSmall {
              10% {
                stroke-dashoffset: 9;
                opacity: 0.6;
              }
              80% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
              100% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
            }
            @-o-keyframes steamSmall {
              10% {
                stroke-dashoffset: 9;
                opacity: 0.6;
              }
              80% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
              100% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
            }
            @keyframes steamSmall {
              10% {
                stroke-dashoffset: 9;
                opacity: 0.6;
              }
              80% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
              100% {
                stroke-dashoffset: 27;
                opacity: 0;
              }
            }

    body 
        .p-40.m-8
            h2(class="font-sans md:font-sans text-5xl font-extrabold p-2") Thank you so much!
            p(class="text-center font-sans md:font-sans text-xxl font-extrabold") Your payment has been received.
            .flex.flex-row
                svg.tea(width='37' height='48' viewbox='0 0 37 48' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z' stroke='var(--secondary)' stroke-width='2')
                    path(d='M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34' stroke='var(--secondary)' stroke-width='2')
                    path#steamL(d='M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='var(--secondary)')
                    path#steamR(d='M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13' stroke='var(--secondary)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                p.font-sans.text-xxl.text-center Our robots are building your server. Grab some tea or coffee while you wait!
