doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Easter egg
    body
    h2 this easter egg only works on pc and android.
    audio(src="/assets/b9411af07f154a6fef543e7e442e4da9.mp3" autoplay loop hidden)