link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css' integrity='sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel="stylesheet", href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.css")
link(rel='stylesheet' href='/assets/globals.css')
link(rel="stylesheet", href="/assets/buttons.css")
script(src="https://js.stripe.com/v3/")
script.
    const stripe = Stripe('pk_test_51IuiqfHEYvOcf3HrosgKs25618tJnBOvhrYApfGgqGZ2XlXCIs1sNU4K8wxLZAntneIpQQzXd0E7lhT1dg27ypbj00AvqLMIcy');
    const elements = stripe.elements();